<div class="container">

  <form role="form" class="col-md-6" action="/">
    <div class="form-group">
      <label for="search">Google Search:</label>
      <input type="text" name="search" value="<%= params[:search] %>" class="form-control" placeholder="cyvasse game" autofocus>
    </div>
    <div class="form-group">
      <label for="url">URL:</label>
      <input type="text" name="url" value="<%= params[:url] %>" class="form-control" placeholder="www.cyvasse.io">
    </div>
    <div class="">
      <button type="submit" class="btn btn-default">Get Position</button>
    </div>
  </form>

  <div class="col-md-6">
    <table class="table table-hover text-center">
      <thead>
      <tr>
        <th class="col-md-4 text-center">URL</th>
        <th class="col-md-8 text-center">Position in google search</th>
      </tr>
      </thead>
      <% if !@results.nil? %>
          <tbody>
          <tr>
            <td><%= params[:url] %></td>
            <td><%= @url_position %></td>
          </tr>
          </tbody>
      <% end %>
    </table>
  </div>

  <br><br>

  <div class="col-md-12">
    <br>
    <% if !@results.nil? %>
        <ul class="list-group">
          <% @results.each_with_index do |result, index| %>
              <li class="list-group-item
                <% if index + 1 == @url_position %> target-search
                <% end %>
              "><%= result.uri %></li>
          <% end %>
        </ul>
        <br><br>
    <% end %>
  </div>
</div>
